@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");


html,
body {
    margin-top: 45px;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.footer-container {
  flex: 1;
}



/* .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
} */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.president-card {

    order: 2;
}

.staff-coordinator-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 2;
}

.staff-coordinator-card {
    margin: 20px;
}

.alumni-member-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 3;
}

.alumni-member-card {
    margin: 20px;
}

.core-member-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    order: 4;
}

.core-member-card {
    margin: 20px;
}



.card {
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.plate {
    width: 350px;
    background-color: #f1f1f1;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 20px;
}
.card:hover {
    transform: translateY(-5px);
}

.card__header {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.card__avatar {
    width: 100px;
    height: 100px;
    display: inline;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card__avatar:hover {
    transform: scale(1.4);
}

.card__body {
    padding: 20px;
}

.card__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card__info {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
}

.card__social {
    display: flex;
    justify-content: center;
}

.card__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    color: #777;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card__social-link:hover {
    background-color: #777;
    color: #fff;
}

.card__avatar::before {
    content: 'Some Text';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: #777;
    color: #fff;
    padding: 5px 80px;
    border-radius: 50px;
    transition: opacity 0.3s ease;
}

.card__avatar:hover::before {
    opacity: 1;
}
