@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 300px;
    background-color: #f1f1f1;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card__header {
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.card__avatar {
    width: 100px;
    height: 100px;
    border-radius: 80%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card__avatar:hover {
    transform: scale(1.2);
}


.card__body {
    padding: 20px;
}

.card__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card__info {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
}

.card__social {
    display: flex;
    justify-content: center;
}

.card__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    color: #777;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card__social-link:hover {
    background-color: #777;
    color: #fff;
}




.card__avatar::before {
    content: 'Some Text';
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-60%, -60%);
    opacity: 0;
    background-color: #777;
    color: #fff;
    padding: 5px 80px;
    border-radius: 50px;
    transition: opacity 0.3s ease;
}

.card__avatar:hover::before {
    opacity: 1;
}